.about-main {
  text-align: center;
  color: white;
  text-shadow: rgba(51, 0, 255, 0.9) 0px 0px 31px;
}

#about-page {
  color: white;
  text-align: center;
  flex-direction: column;
}

#blur-about {
  -webkit-box-shadow: 0px 0px 50px 2px rgba(53, 46, 255, 0.9);
  -moz-box-shadow: 0px 0px 50px 2px rgba(53, 46, 255, 0.9);
  box-shadow: 0px 0px 50px 2px rgba(53, 46, 255, 0.9);
}

.red007 {
  margin-top: 100px;
}
