.adminBlock {
  background-color: rgba(22, 22, 22, 0.878);
  width: 40vmax;
  height: 50vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 35px;
}

.adminInput {
  background-color: rgb(233, 233, 233);
  border-radius: 2vmax;
  border: 0;
  width: 8.4vmax;
  height: 2vmax;
  transition: 1s;
  padding-left: 20px;
  box-shadow: 0px 0px 10px rgb(77, 77, 77);
}

.adminInput:hover {
  border: 2px;
  border-color: black;
  transition: 1s;
  transform: scale(1.1);
  box-shadow: 0px 3px 18px grey;
}

.btnAdminSave {
  width: 7rem;
  height: 2rem;
  background-color: rgb(203, 203, 203);
  border: 0;
  transition: 0.8s;
  margin-top: 1vmax;
  margin-bottom: 1vmax;
  box-shadow: 0px 0px 9px grey;
  border-radius: 20px;
}

.btnAdminSave:hover {
  background-color: #222222;
  border: 2px;
  transition: 0.6s;
  color: white;
  box-shadow: 0px 0px 20px grey;
}
