.productCard_main-block {
  display: flex;
  flex-direction: row;
  color: black;
}

.productCard_block {
  display: flex;
  background-color: rgba(255, 255, 255);
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 2%;
  width: 25vw;
  height: auto;
  border-radius: 35px;
  margin-bottom: 2%;
  margin: 5%;
  box-shadow: 1px 1px 37px gray;
  /* border: 2px solid violet; */
}

.productCard_img {
  width: 150px;
  height: fit-content;
}

.productCard_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin-bottom: 2%;
}

.pag {
  color: white;
}

.btnDet {
  width: 5rem;
  height: 2rem;
  background-color: rgb(203, 203, 203);
  border-radius: 20px;
  border: 0;
  transition: 0.6s;
  margin-top: 1vmax;
  margin-bottom: 1vmax;
  box-shadow: 0px 2px 10px grey;
}

.btnDet:hover {
  background-color: #222222;
  border: 2px;
  transition: 0.6s;
  color: white;
  box-shadow: 0px 0px 15px grey;
}
