.filterBtn {
  background-color: rgba(0, 0, 0, 0.577);
  color: white;
  position: absolute;
  z-index: 1;
  margin-top: 1vmax;
  left: -19vmax;
  border: 0;
  border-radius: 15px;
  width: 2.5vmax;
  height: 2.5vmax;
  box-shadow: 0px 0px 19px rgb(56, 56, 56);
}

.sideFilterBLock {
  margin-top: 3vmax;
}

.ulOfCat {
  text-decoration: none;
  list-style: none;
}
.ulOfCat:hover {
  cursor: pointer;
}

.ilOfCat {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  transition: 0.6s;
  width: 14vw;
}

.ilOfCat:hover {
  background-color: rgb(0, 0, 0);
  transition: 0.6s;
  text-shadow: 0px 0px 5px gray;
}
.productList {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 300px;
}
