.logo {
  width: 3vmax;
  margin-right: 20px;
}

.blockInfoNavbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}

.logoText_Navbar {
  display: flex;
  flex-direction: row;
}

.nav-icons {
  display: flex;
  align-items: center;
}

body {
  background-color: rgb(0, 0, 0);
}

#navbar {
  box-shadow: none;
}

.MuiContainer-root {
  background-color: transparent;
}
.searchNavbar {
  background-color: rgb(233, 233, 233);
  border-radius: 2vmax;
  border: 0;
  width: 8vmax;
  height: 2vmax;
  transition: 1s;
  padding-left: 20px;
  margin-right: 1vmax;
}
