.regBlock {
  background-color: rgba(22, 22, 22, 0.878);
  width: 20vmax;
  height: 25vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
}

.inputReg {
  background-color: rgb(233, 233, 233);
  border-radius: 2vmax;
  margin-top: 0.7vmax;

  border: 0;
  width: 8.4vmax;
  height: 2vmax;
  transition: 1s;
  padding-left: 20px;
  box-shadow: 0px 0px 10px rgb(77, 77, 77);
}

.inputReg:hover {
  border: 2px;
  border-color: black;
  transition: 1s;
  transform: scale(1.1);
  box-shadow: 0px 3px 18px grey;
}

.btnReg {
  box-shadow: 0px 0px 10px rgb(77, 77, 77);

  width: 7vmax;
  height: 2vmax;
  margin-top: 0.7vmax;
  border-radius: 25px;
  border: 0;
  margin-bottom: 1vmax;
}

.btnReg:hover {
  background-color: rgb(211, 211, 211);
  box-shadow: 0px 0px 18px grey;

  border: 7px;
  outline-style: solid;
}
